@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Original+Surfer&family=Spinnaker&family=Unbounded:wght@200..900&display=swap');

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  background-color: #171D40;
}

h1 {
  color: #D9436B;
  text-align: center;
  font-weight: normal;
  font-size: 5rem;
  font-family: 'Unbounded', sans-serif;
}

nav {
  background-color: rgb(225, 223, 241);
  border-radius: 12px 0 12px 0;
  height: 50px;
  width: 100vw;
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  align-items: center;
}

li {
  margin-inline-end: 10vw;
  display: flex;
}
li:hover {
  background-color: #8e75c9;
  border: 10px solid #8e75c9;
}

li>a {
  text-decoration: none;
  color: #171D40;
}
li>a:hover {
  color: #d6d6d6;
  font-size: 1.2rem;
}

.containerButtons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 100px auto;
}

.button {
  font-family: 'Grandstander', cursive;
  background: #d95786;
  padding: 10px;
  color: white;
  border-radius: 10px;
  border-color: aliceblue;
  font-size: 1.5rem;
  text-decoration: none;
}

.button:hover {
  background: #5764d9;
  border-color: aliceblue;
}

.containerReglas {
  background: rgb(225, 223, 241);
  width: 50%;
  margin: 0 auto;
  padding: 15px;
  border: 3px dashed #d95786;
  border-radius: 20px;
  font-weight: normal;
}

#enlace {
  display: none;
}

#enlace:target {
  display: block;
}

.containerProfile {
  background: rgb(182, 170, 228);
  width: 500px;
  border-radius: 20px;
  margin: 100px auto auto auto;
  align-self: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  padding: 100px 0;
}

.enlace {
  background-color: aliceblue;
  width: 500px;
  padding: 3px;
  border-radius: 10px;
  border: 2px solid pink;
  margin: auto;
}

.containerMapa {
  margin: 100px;
  padding: 100px;
}

.CodeMirror {
  float: left;
  width: 50%;
  height: 500px;
}

#language-selector {
  margin-top: -20px;
  position: absolute;
  z-index: 10;
}